* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	font-size: 100%;
	background-color: #EFEFEF;
}

#container {
	min-height: 100%;
	position: relative;
}

#header {
	background-color: #1f241c;	
	border-bottom: 2px solid #676c53;
	height: 110px;
	background: url("images/headerbgtile.png");
	background-repeat: repeat-x;
}

#header_right {
	position: absolute;
	top: 78px;
	right: 0;
	margin: 10px;
}

#header_right p { 
	color: #1f241c;
	font-size: 12px;
	font-weight: bold;
}

#header_right a {
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #cdde87;
}

#header_right a:hover {
	color: #a7ac93;
}

#header_left {
	width: 422px;
	height: 110px;
	background: url("images/headerbg.png");
}

#navbar {
	width: 100%;
	height: 25px;
	background-color: #a7ac93;
	border-bottom: 1px solid #676c53;
	padding-top: 5px;
	padding-bottom: 5px;
}

#navbar ul {
	padding: 5px;
}

#navbar li {
	display: inline;
	list-style-type: none;	
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #676c53;
}

#navbar li.nav_last {
	border: none;
}

#navbar a {
	font-size: 1.125em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;	
	color: #1f241c;
	text-decoration: none;
}

#navbar a:hover {
	color: #676c53;
}

#content_area {
	padding-bottom: 34px;
	position: absolute;
	bottom: 0px;
	top: 148px;
	right: 0px;
	left: 0px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 32px;
	border-top: 2px solid #676c53;
	background-color: #1f241c;
}

#footer p {
	float: right;
	color: #cdde87;
	padding: 5px;
}

#map {
	width: 100%;
	height: 100%;
}

