<!DOCTYPE html 
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{% block title %}{% endblock %} - Grumble</title>
		
		{% block css %}
		<link rel="stylesheet" type="text/css"  href="/media/base.css" />
		{% endblock %}

		<script type="text/javascript" src="/media/js/jquery.js"></script>

		{% block extra-head %}{% endblock %}
	</head>

	{% block bodytag %}<body>{% endblock %}
		<div id="container">
			<div id="header">
				<div id="header_left"></div>
				{% comment %}
				<div id="header_right"><p>
					{% if user.is_authenticated %}
					Welcome, {{ user.username }} || <a href="/accounts/settings">account</a> |{% if user.is_staff %} <a href="/admin/">admin</a> |{% endif %} <a href="/accounts/logout/">logout</a>
					{% else %}
					<a href="/accounts/login/">Login</a> | <a href="/accounts/register/">Register</a>
					{% endif %}
				</p></div>
				{% endcomment %}
			</div>

			<div id="navbar">
				<ul>
					<li><a href="/">Home</a></li>
					<li class="nav_last"><a href="/controllers">Controllers</a></li>
				</ul>
			</div>

			<div id="content_area">
				{% block content %}{% endblock %}
			</div>

			<div id="footer">
				<p>Copywrite (C) 2010</p>
			</div>
		</div>
	</body>
</html>
