{% extends 'base.html' %}
{% block title %}Controllers{% endblock %}

{% block content %}

<table>
	<tr><th>Controllers</th></tr>
	{% for c in controllers %}
	<tr>
		<td>{{ c.callsign }}</td>
		<td>{{ c.frequency }}</td>
		<td>{{ c.atc_duty }}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
