{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block extra-head %}
<script type="text/javascript" src="http://tile.cloudmade.com/wml/latest/web-maps-lite.js"></script>
<script type="text/javascript" src="/media/js/grumble.js"></script>
<script type="text/javascript">
	function initialize()
	{
		var map = new grumble.Map("map");
		setInterval(function() {
			map.perform_controller_request();
		}, 5000);
	}
</script>
{% endblock %}

{% block bodytag %}
<body onload="initialize();">
{% endblock %}

{% block content %}
<div id="map"></div>
{% endblock %}
